<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex" />
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Description" content="">
		<meta name="Author" content="">
		<meta name="keywords" content=""/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
        <title>Dummy Jobs</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="../../../assets/css/custom.css" rel="stylesheet" />
        
	</head>
<body>
  
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-sm-4 col-7">
                        <div class="top-bar-left d-flex">
                            <ul class="socials">
                                <li><a class="social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a class="social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <ul class="contact border-left">
                                <li class="">
                                    <a href="#" class="callnumber"><span><i class="fa fa-envelope mr-1"></i> support@dummyjobs.com</span></a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-sm-8 col-5">
                        <div class="top-bar-right">
                            <ul class="custom">
                                <li><a href="login.html"><i class="fa fa-black-tie mr-1"></i> <span>Employers Login</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="brand">
                    <a href="index.html"><img src="../../../assets/img/logo.png" alt=""></a>
                </div>
                <div class="menu">
                    <ul class="Menu-list">
                        <li class="active"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
							<li><span class="horizontalMenu-click"><i class="horizontalMenu-arrow fa fa-angle-down"></i></span><a href="#">Browse Jobs<span class="fa fa-caret-down m-0"></span></a>
								<ul class="sub-menu">
									<li><a href="#">Jobs by Location</a></li>
									<li><a href="#">Job by skill</a></li>
									<li><a href="#">Job by Designation</a></li>
									<li><a href="#">Job by Company</a></li>
									<li><a href="#">Job by Category</a></li>
									<li><a href="#">Browse All Jobs</a></li>
								</ul>
							</li>
							<li><a href="#">Govt Jobs </a></li>
							<li><a href="#">Companies </a></li>
							<li><a href="#">How It Works </a></li>
                    </ul>
                    <ul class="mb-0 postjob">
                        <li class="d-none d-lg-flex">
                            <span><a class="btn btn-secondary ad-post mt-0" href="#"><i class="fa fa-briefcase"></i> Post a Job</a></span>
                        </li>
                        
                    </ul>
                    <ul class="usrcrt_lgrgbtns">
                        <li class=""><a class="btn" routerLink="/signin" routerLinkActive="active">Login</a></li>
						<li class=""><a class="btn" routerLink="/signup" routerLinkActive="active">Registration</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="sptb signin">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white"> 
                    <h1 class="">Login</h1> 
                    <p>Having great skills and specialty in software quality assurance, software testing, software requirement.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="signin-design">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-md-2 offset-lg-2">
                    <div class="signin-pages">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="signpage-left-side">
                                    <h4 class="post-job-heading text-left font-weight-semibold fs-16">Login Using your email</h4>
                                    <form id="login" class="card-body" tabindex="500"> 
                                        <div class="mail mb-5"> 
                                            <input type="email" name="mail"> 
                                            <label>Mail or Username</label> 
                                        </div> 
                                        <div class="passwd mb-5"> 
                                            <input type="password" name="password"> 
                                            <label>Password</label> 
                                        </div> 
                                        <div class="row">
                                            <div class="col-md-6"> <p class="mb-4 float-left"> <a href="forgot.html">Forgot Password</a></p></div>
                                            <div class="col-md-6"> <a class="btn btn-primary btn-block float-right" href="index.html">Login</a> </div>
                                        </div>
                                       
                                        <p class="text-dark mt-4 text-center">Don't have account?<a href="register.html" class="text-primary ml-1">Sign UP</a>
                                        </p>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding">
                                <div class="signpage-right-side">
                                    <h4 class="post-job-heading text-left font-weight-semibold fs-16 text-white">Using Social Accounts</h4>
                                    <div class="form-group">
                                        <p class="fs-16 text-white pl-4 pr-4">mollis et mi. Morbi elementum, purus eu congue efficitur, justo dolor condimentum ex, at gravida nisi massa</p>
                                        <div class="btn-list sociallg-btn pl-4 pr-4"> 
                                            <a href="#" class="btn-facebook btn-block btn-social d-block">
                                                <i class="fa fa-facebook-square fa-1x mr-2"></i> <span>Signin With Facebook</span></a>
                                            <a href="#" class="btn-google btn-block btn-social d-block">
                                                <i class="fa fa-google-plus-square fa-1x mr-2"></i> <span>Signin With Google</span></a> 
                                            <a href="#" class="btn-linkedIn btn-block btn-social d-block">
                                                <i class="fa fa-linkedin fa-1x mr-2"></i> <span>Signin With Linkedin</span></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<footer class="bg-dark">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <h6>Jobs by Skill</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Call Center Jobs</a></li>
                        <li><a href="#">Biotechnology Jobs</a></li>
                        <li><a href="#">Nursing Jobs</a></li>
                        <li><a href="#">BPO Jobs</a></li>
                        <li><a href="#">Networking Jobs</a></li>
                        <li><a href="#">MBA Jobs</a></li>
                        <li><a href="#">Java Jobs</a></li>
                        <li><a href="#">SEO Jobs</a></li>
                        <li><a href="#">SAP Jobs</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h6>Jobs by Location</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Jobs in Delhi</a></li>
                        <li><a href="#">Jobs in Bangalore</a></li>
                        <li><a href="#">Jobs in Mumbai</a></li>
                        <li><a href="#">Jobs in Chennai</a></li>
                        <li><a href="#">Jobs in Hyderabad</a></li>
                        <li><a href="#">Jobs in Kolkata</a></li>
                        <li><a href="#">Jobs in Pune</a></li>
                        <li><a href="#">Jobs in Chandigarh</a></li>
                        <li><a href="#">Jobs in Lucknow</a></li>
                        <li><a href="#">Jobs in Coimbatore</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h6>Job by Function</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Banking Jobs</a></li>
                        <li><a href="#">Biotech Jobs</a></li>
                        <li><a href="#">Airlines Jobs</a></li>
                        <li><a href="#">HR Jobs</a></li>
                        <li><a href="#">Accounts Jobs</a></li>
                        <li><a href="#">Supply Chain Jobs</a></li>
                        <li><a href="#">Legal Jobs</a></li>
                        <li><a href="#">Marketing Jobs</a></li>
                        <li><a href="#">Telecom Jobs</a></li>
                        <li><a href="#">Hotels Jobs</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h6>Job by Industry</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">IT Jobs</a></li>
                        <li><a href="#">Pharmaceuticals Jobs</a></li>
                        <li><a href="#">Travel Jobs</a></li>
                        <li><a href="#">Oil and Gas Jobs</a></li>
                        <li><a href="#">FMCG Jobs</a></li>
                        <li><a href="#">Constructions Jobs</a></li>
                        <li><a href="#">Chemicals Jobs</a></li>
                        <li><a href="#">Media Jobs</a></li>
                        <li><a href="#">Retailing Jobs</a></li>
                        <li><a href="#">PR Jobs</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h6>Govt Jobs</h6>
                    <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Teaching Jobs</a></li>
                        <li><a href="#">Defence Jobs</a></li>
                        <li><a href="#">Bank Jobs</a></li>
                        <li><a href="#">Railway Jobs</a></li>
                        <li><a href="#">UPSC Jobs</a></li>
                        <li><a href="#">SSC Jobs</a></li>
                        <li><a href="#">Law Jobs</a></li>
                        <li><a href="#">Engineering Jobs</a></li>
                        <li><a href="#">Post Graduate Jobs</a></li>
                        <li><a href="#">Navy Jobs</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h6>Career Center</h6>
                    <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Career Mangament Tips </a></li>
                        <li><a href="#">Interview Tips </a></li>
                        <li><a href="#">Work Life Balance Tips</a></li>
                        <li><a href="#">Resume Cover & Letters</a></li>
                        <li><a href="#">Salary Negotiation</a></li>
                        <li><a href="#">How to Job Search</a></li>
                        <li><a href="#">Career Tips for Women</a></li>
                        <li><a href="#">How to Save Tax</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <h6>Information</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About </a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Career at DummyJobs</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Create Account</a></li>
                        <li><a href="#">DummyJobs App</a></li>
                        <li><a href="#">Job Alert</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Find Companies</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h6>Useful Links</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Report a Bug/Abuse</a></li>
                        <li><a href="#">Fraud/Security</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Complaint</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">RSS job Feed</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h6>All Jobs</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Walkin Jobs</a></li>
                        <li><a href="#">Contract Jobs</a></li>
                        <li><a href="#">Placement Jobs</a></li>
                        <li><a href="#">Jobs for Women</a></li>
                        <li><a href="#">Startup Jobs</a></li>
                        <li><a href="#">International Jobs</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <h6>For Employers</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Post jobs</a></li>
                        <li><a href="#">Register Now</a></li>
                        <li><a href="#">Employer's Login</a></li>
                        <li><a href="#">Free Job Posting</a></li>
                        <li><a href="#">Premium Job posting</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Report a Problem</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12">
                    <h6>SUBSCRIBE</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <div class="input-group w-100">
                        <input type="text" class="form-control  border" placeholder="Email">
                        <div class="input-group-append ">
                            <button type="button" class="btn btn-primary "> Subscribe </button>
                        </div>
                    </div>
                    <h6 class="mb-2 mt-5">Follow Us</h6>
                    <hr class="accent-2 mb-4 mt-0">
                    <ul class="social mb-0">
                        <li><a class="social-icon" href=""><i class="fa fa-facebook"></i></a></li>
									<li><a class="social-icon" href=""><i class="fa fa-twitter"></i></a></li>
									<li><a class="social-icon" href=""><i class="fa fa-rss"></i></a></li>
									<li><a class="social-icon" href=""><i class="fa fa-youtube"></i></a></li>
									<li><a class="social-icon" href=""><i class="fa fa-linkedin"></i></a></li>
									<li><a class="social-icon" href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p class="text-center text-white-50">Copyright <i class=" mdi mdi-copyright"></i> 2020 <a href="index.html" class="fs-14 text-white">Dummy Jobs</a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>